@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    box-sizing: border-box !important;
}

body{
    margin: 0 !important;
}

.no-highlight-color {
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

.swipe-right-delete{
    background-image: linear-gradient(to right, #860e55, #1a0b35);
}
.swipe-left-edit{
    background-image: linear-gradient(to left, #c05621,#1a0b35);
}


@media (max-width:500px) and (max-height:300px){
    .android {
        height: 620px;
        min-height: 620px;
    }
} 